@*<div class="row">
    <div class="body-type-slider bxslider">
        <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 5808px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);">
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utxxxility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt=""/>
                                <br/>
                                <span>Utxxxility</span>
                            </div>
                        </a>
                    </div>
                    <div class="owl-item" style="width: 135px;">
                        <a>
                            <div class="item">
                                <img src="../../Content/images/bodystyles/utility.png" alt="" />
                                <br />
                                <span>Utxxxility</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<ul class="bxslider">
    <li>
        <img src="../../Content/images/bodystyles/utility.png"/>
        <span class="title">Test</span>
    </li>
    <li>
        <img src="../../Content/images/bodystyles/van_upfit.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/straight_box.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/plumber.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/contractor_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/stake_bed.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/combo_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/combo_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/dry_freight.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/landscape_dump.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/cargo_van.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/pickup.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/platform_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/platform_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/dump.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/welder_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/glass_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/mechanics_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/refrigerated_body.png" /></li>
    <li>
        <img src="../../Content/images/bodystyles/other.png" /></li>
</ul>*@
<div id="ocational-carousel" class="owl-carousel owl-theme">
    <a href="/inventory/new-cars?utility" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/utility.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/utility_hover.png")">
            </div>
            <span>Utility</span>
        </div>
    </a>
    <a href="/inventory/new-cars?straight_box" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/straight_box.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/straight_box_hover.png")">
            </div>
            <span>Straight Box</span>
        </div>
    </a>
    <a href="/inventory/new-cars?plumber" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/plumber.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/plumber_hover.png")">
            </div>
            <span>Plumber</span>
        </div>
    </a>
    <a href="/inventory/new-cars?contractor_body" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/contractor_body.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/contractor_body_hover.png")">
            </div>
            <span>Contractor Body</span>
        </div>
    </a>
    <a href="/inventory/new-cars?stake_bed" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/stake_bed.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/stake_bed_hover.png")">
            </div>
            <span>Stake Bed</span>
        </div>
    </a>
    <a href="/inventory/new-cars?combo_body" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/combo_body.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/combo_body_hover.png")">
            </div>
            <span>Combo Body</span>
        </div>
    </a>
    <a href="/inventory/new-cars?dry_freight" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/dry_freight.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/dry_freight_hover.png")">
            </div>
            <span>Dry Freight</span>
        </div>
    </a>
    <a href="/inventory/new-cars?landscape_dump" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/landscape_dump.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/landscape_dump_hover.png")">
            </div>
            <span>Landscape Dump</span>
        </div>
    </a>
    <a href="/inventory/new-cars?cargo_van" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/cargo_van.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/cargo_van_hover.png")">
            </div>
            <span>Cargo Van</span>
        </div>
    </a>
    <a href="/inventory/new-cars?pickup" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/pickup.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/pickup_hover.png")">
            </div>
            <span>Pickup</span>
        </div>
    </a>
    <a href="/inventory/new-cars?platform_body" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/platform_body.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/platform_body_hover.png")">
            </div>
            <span>Platform Body</span>
        </div>
    </a>
    <a href="/inventory/new-cars?dump" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/dump.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/dump_hover.png")">
            </div>
            <span>Dump</span>
        </div>
    </a>
    <a href="/inventory/new-cars?welder_body" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/welder_body.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/welder_body_hover.png")">
            </div>
            <span>Welder Body</span>
        </div>
    </a>
    <a href="/inventory/new-cars?glass_body" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/glass_body.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/glass_body_hover.png")">
            </div>
            <span>Glass Body</span>
        </div>
    </a>
    <a href="/inventory/new-cars?mechanics_body" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/mechanics_body.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/mechanics_body_hover.png")">
            </div>
            <span>Mechanics Body</span>
        </div>
    </a>
    <a href="/inventory/new-cars?refrigerated_body" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/refrigerated_body.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/refrigerated_body_hover.png")">
            </div>
            <span>Refrigerated Body</span>
        </div>
    </a>
    <a href="/inventory/new-cars?specialty_body" onclick="">
        <div class="item">
            <div class="body-type">
                <img src="@Url.Content("/Content/images/bodystyles/specialty_body.png")">
            </div>
            <div class="body-type body-type-hover">
                <img src="@Url.Content("/Content/images/bodystyles/specialty_body_hover.png")">
            </div>
            <span>Other/Specialty</span>
        </div>
    </a>
</div>
