<div id="menu-holder">
    <div class="mn-home menu-items">
        <a href="/">HOME</a>
    </div>

    <div class="mn-specials menu-items hasMenu">
        <a>SPECIALS <b class="caret"> </b></a><br/>
        <div class="arrow-holder">
			
        </div>
        <div class="menu-holder">
            <a href="@Url.Action("VehicleSpecials","Specials")" class="menu-holder-links">Vehicle Specials</a>
            <a href="@Url.Action("Lease","Specials")" class="menu-holder-links">Lease &amp; Finance Offers</a>
            <a href="@Url.Action("Service","Specials")" class="menu-holder-links">Service Specials</a>
            <a href="@Url.Action("Parts","Specials")" class="menu-holder-links">Parts Specials</a>
        </div>
    </div>

    <div class="mn-new menu-items hasMenu">
        <a>NEW <b class="caret"> </b></a><br/>
        <div class="arrow-holder">
			
        </div>
        <div class="menu-holder">
            <a href="@Url.Action("NewCars","Inventory")" class="menu-holder-links">Inventory</a>
            <a href="@Url.Action("Index","Showroom")" class="menu-holder-links">Showroom</a>
            <a href="@Url.Action("Value","Vehicle")" class="menu-holder-links">Value My Trade</a>
            <a href="@Url.Action("Index","Comparison")" class="menu-holder-links">Competitive Comparison</a>
            <a href="@Url.Action("TruckLocator","Locator")" class="menu-holder-links">New Truck Locator</a>
			
        </div>
    </div>

    <div class="mn-used menu-items hasMenu">
        <a>PRE-OWNED <b class="caret"> </b></a><br/>
        <div class="arrow-holder">
			
        </div>
        <div class="menu-holder">
            <a href="@Url.Action("UsedCars","Inventory")" class="menu-holder-links">Inventory</a>
            <a href="@Url.Action("Value","Vehicle")" class="menu-holder-links">Value My Trade</a>
            <a href="@Url.Action("TruckLocator","Locator")" class="menu-holder-links">Pre-Owned Truck Locator</a>
        </div>
    </div>

    <div class="mn-sale-finance menu-items hasMenu">
        <a>SALES &amp; FINANCE <b class="caret"> </b></a><br/>
        <div class="arrow-holder">
			
        </div>
        <div class="menu-holder" style="width: 167px;">
            <a href="@Url.Action("Quote","Finance")" class="menu-holder-links">Request A Quote</a>
            <a href="@Url.Action("Index","Finance")" class="menu-holder-links">Finance App</a>
            <a href="@Url.Action("TestDrive","Finance")" class="menu-holder-links">Test Drive</a>
        </div>
    </div>

    <div class="mn-fleet menu-items hasMenu">
        <a>FLEET <b class="caret"> </b></a><br/>
        <div class="arrow-holder">
			
        </div>
        <div class="menu-holder" style="width: 145px;height: 27px;">
            <a href="@Url.Action("Fleet","Contact")" class="menu-holder-links">Fleet Info</a><br/>
        </div>
    </div>

    <div class="mn-service-part menu-items hasMenu">
        <a>SERVICE &amp; PARTS <b class="caret"> </b></a><br/>
        <div class="arrow-holder">
			
        </div>
        <div class="menu-holder" style="width: 170px;">
            <a href="@Url.Action("ServiceInfo","ServiceParts")" class="menu-holder-links">Service Department</a>
            <a href="@Url.Action("Retail","ServiceParts")" class="menu-holder-links">Parts Department</a>
        </div>
    </div>

    <div class="mn-dealer-contact menu-items hasMenu">
        <a>DEALER INFO &amp; CONTACT <b class="caret"> </b></a><br/>
        <div class="arrow-holder">
			
        </div>
        <div class="menu-holder" style="width: 162px;">
            <a href="@Url.Action("DealerInfo","Contact")" class="menu-holder-links">Hours &amp; Info</a>
            <!-- <a href="/employment" class="menu-holder-links">Employment</a> -->
        </div>
    </div>

</div>

